.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width: 300px;

  i {
    font-size: 100px;
    margin: 0.5rem;
  }

  .card-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
  }

  .dx-button {
    margin-top: 1rem;
  }
}
